* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 50vh;
  background-image: url(./images/img1.jpg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
header h1 {
  color: white;
}
header p {
  color: white;
}
header button {
  height: 45px;
  width: 180px;
  color: white;
  background-color: transparent;
  border-color: white;
}
